html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}

/******* fornt page ******/
.front{
    background-color: red;
    color: rgb(235, 228, 228);
    font-family: 'Lato', 'Arial', sans-serif;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(pexels-photo-1054554.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(pexels-photo-1054554.jpeg);
}

.intro{
    position: absolute;
    top: 120px;
    width: 38%;
    left: 100px;
}
.intro h1{

    font-size: 50px;
}

.intro p{
    font-size: 25px;
}
.button:link,
.button:visited{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 30px;
    padding: 10px;
    transition: background-color 0.2s;
}

.button:hover{
    background-color:#cf6d17;
}


/********* projects page **********/

.project-page{
    width: 100%;
    height: 100%;
    display: flex;
}

.menu-bar{
    background-color: rgb(216, 216, 216);
    width: 18%;
    font-size: 20px;    
    height: 100%;
    position: fixed;
    
}

.menu-bar a{
    text-decoration: none;
    color: black;
}

.menu-container{
    padding-top: 150px;
    padding-left: 30px;
    
}

.menu-container a h2{
    font-size: 50px;
}

#nav-menu div{
    margin-bottom: 10px;
}

#nav-menu a:hover{
    color: red;
}

.active-link div{
    color: red;
}



#page-container{
    width: 82%;
    margin-left:18%;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.grid-item{
    width: 52.4vh;
    height: 32.6vh;
    transition: opacity 0.5s;
    
}

.image-wrap{
    position: relative;
}

.img-text{
    position: absolute;
    top: 30%;
    left:10%;
    opacity: 0;
}

.image-wrap:hover{
    background-color:rgba(227,11,11, 0.69);
    color: white;
}

.image-wrap:hover .grid-item{
    opacity: 0.3;
}

.image-wrap:hover .img-text{
    opacity: 1;
    color: white;
}

.img-text h3{
    font-size:30px;
}
.img-text p{
    font-size: 18px;
    margin-top: -10px;
}


/***** About me *****/
#about-section{
    position: relative;
    height: 100vh;
}

.about-me img{
    position: absolute;
    top: 80px;
    left: 40%;   
    border-radius: 50%;
}

.about-description{
    position: absolute;
    top: 300px;
    left: 200px;
    width: 600px;

}

.about-description h2{
    padding-left: 230px;
    font-size: 30px;
}

.about-description p{
    padding-left: 160px;
    font-size: 20px;
}

/**** contact-section ****/
#contact-section{
    background-color: whitesmoke;
    height: 100vh;
}

.contact{
    display: flex;
    justify-content: start;
    opacity: 0.7;
}

#mail{
    margin-top: 200px;
    margin-left: 100px;
}

#form{
    margin-top: 100px;
    margin-left: 100px;
}
#form div{
    margin-bottom: 30px;
}

.name-mail{
    height: 40px;
    width: 300px;
}
.send{
    height: 50px;
    width: 100px;
}


/****Social media links*****/
#connect{
    opacity: 0.7;
    position: absolute;
    bottom: 10;
}












